/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --transition: 0.3s;
  --section-padding: 70px;
  --section-background: #ececec;
  --gray-color: #777;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-heading {
  margin: 0 auto 80px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}
.main-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: var(--transition);
}
.main-heading::before {
  left: -30px;
}
.main-heading::after {
  right: -30px;
}
.main-heading:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-heading:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
  z-index: 1;
}
.dots {
  background-image: url(../imgs/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}

/* Header Styling */
header {
  background-color: white;
  box-shadow: 0 0 10px #ccc;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
}
header .main-nav {
  display: flex;
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0 30px;
  color: black;
  font-size: 18px;
  position: relative;
  transition: var(--transition);
  overflow: hidden;
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  width: 100%;
  height: 4px;
  transition: var(--transition);
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
header .mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  width: 100%;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  z-index: -1;
  opacity: 0;
  transition: top var(--transition), opacity var(--transition);
}
header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
header .mega-menu .image img {
  max-width: 100%;
}
header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  transition: var(--transition);
  z-index: -1;
}
header .mega-menu .links li:hover:before {
  width: 100%;
}
header .mega-menu .links li a {
  display: block;
  padding: 15px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
}
header .mega-menu .links li a i {
  margin-right: 10px;
}

/* Landing Styling */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
.landing .text p {
  font-size: 20px;
  line-height: 1.6;
  margin: 5px 0 0;
  color: var(--gray-color);
  max-width: 500px;
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-dwon 5s linear infinite;
}
.landing .go-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: var(--main-color);
  transition: var(--transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}

/* Article Styling */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box {
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--transition), box-shadow var(--transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .box img {
  max-width: 100%;
}
.articles .box .text {
  padding: 20px;
}
.articles .box .text h3 {
  margin: 0;
}
.articles .box .text p {
  color: var(--gray-color);
  margin: 10px 0 0;
  line-height: 1.5;
}
.articles .box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #e6e6e7;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: left-right 0.6s linear infinite;
}

/* Gallery Styling */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13),
    0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  z-index: 2;
  transition: var(--transition);
}
.gallery .box .image:hover:before {
  animation: flashing 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--transition);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* Features Styling */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--transition);
}
.features .box:hover .img-holder:after {
  border-width: 170px 500px 170px 0;
}
.features .box .img-holder img {
  max-width: 100%;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -20px;
  width: calc(100% - 30px);
  height: 5px;
}
.features .box p {
  padding: 25px;
  margin: 30px 0;
  font-size: 20px;
  color: var(--gray-color);
  line-height: 2;
}
.features .box a {
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 10px 30px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 6px;
  border: 3px solid;
}
.features .quality .img-holder::before {
  background-color: #f44036;
  opacity: 0.6;
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: var(--transition);
}
.features .time .img-holder::before {
  background-color: #009688;
  opacity: 0.6;
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: var(--transition);
}
.features .passion .img-holder::before {
  background-color: #03a9f4;
  opacity: 0.6;
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: var(--transition);
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* Testimonials Styling */
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  position: relative;
}
.testimonials .box img {
  width: 100px;
  position: absolute;
  top: -50px;
  right: -10px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box .title {
  color: var(--gray-color);
  display: block;
  margin-bottom: 10px;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: var(--gray-color);
  margin-top: 10px;
  margin-bottom: 0;
}

/* Team Members Styling */
.team-members {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team-members .box {
  position: relative;
}
.team-members .box::before,
.team-members .box::after {
  content: "";
  background-color: rgb(243, 243, 243);
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  border-radius: 10px;
  transition: var(--transition);
}
.team-members .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team-members .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team-members .box:hover:after {
  width: calc(100% - 60px);
}
.team-members .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team-members .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--transition);
}
.team-members .box:hover .data img {
  filter: grayscale(100%);
}
.team-members .box .data .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  gap: 20px;
}
.team-members .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-members .box .data .social a:hover i {
  color: var(--main-color);
}
.team-members .box .data .social i {
  color: var(--gray-color);
  transition: var(--transition);
}
.team-members .box .info {
  padding-top: 20px;
  padding-left: 80px;
}
.team-members .box .info h3 {
  margin: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--transition);
}
.team-members .box:hover .info h3 {
  color: var(--gray-color);
}
.team-members .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* Services Styling */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  counter-increment: services;
  position: relative;
  transition: var(--transition);
}
.services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover:before {
  width: 100%;
}
.services .box > i {
  text-align: center;
  display: block;
  margin: 30px auto 20px;
  color: #d5d5d5;
}
.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  color: var(--main-color);
  font-size: 25px;
}
.services .box .info {
  position: relative;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}

/* Our-Skills Styling */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.our-skills .skills .skill .progress {
  background-color: #eee;
  width: 100%;
  height: 30px;
  position: relative;
  margin: 15px 0 25px;
}
.our-skills .skills .skill .progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: width var(--transition) linear;
}

/* Work steps Styling */
.work-steps {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-steps .image {
  max-width: 100%;
  margin-right: 100px;
}
.work-steps .content .box {
  background-color: #f6f5f5;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
.work-steps .content .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: var(--transition);
  z-index: -1;
}
.work-steps .content .box:hover:before {
  width: 100%;
  height: 100%;
}
.work-steps .content .box img {
  width: 64px;
  margin-right: 30px;
}
.work-steps .content .box h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .content .box p {
  margin: 10px 0 0;
  color: var(--gray-color);
  font-size: 18px;
  line-height: 1.7;
}

/* Events Styling */
.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events img {
  max-width: 450px;
}
.events .info {
  flex: 1;
}
.events .info .time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}
.events .info .time .unit {
  width: 75px;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events .info .time .unit span {
  display: block;
}
.events .info .time .unit span:first-child {
  color: var(--main-color);
  padding: 15px;
  font-size: 35px;
  font-weight: bold;
}
.events .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: var(--transition);
}
.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
}
.events .info .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .info .description {
  text-align: center;
  margin: 19px 0;
  color: var(--gray-color);
  font-size: 19px;
  line-height: 1.7;
}
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
.events .subscribe form input:focus {
  outline: none;
}
.events .subscribe form input[type="email"] {
  flex: 1;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  caret-color: var(--main-color);
}
.events .subscribe form input[type="submit"] {
  border-radius: 50px;
  padding: 20px;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  border: none;
  transition: var(--transition);
  cursor: pointer;
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

/* Pricing Styling */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.pricing .box {
  position: relative;
  background-color: white;
  text-align: center;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13),
    0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  transition: var(--transition);
  z-index: 1;
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--transition);
  z-index: -1;
}
.pricing .box::before {
  top: 0;
  left: 0;
}
.pricing .box::after {
  bottom: 0;
  right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  top: 0;
  right: 20px;
  width: 40px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 10px 35px;
  font-size: 18px;
  font-weight: bold;
}
.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white transparent;
}
.pricing .box .title {
  margin: 30px 0;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
}
.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .amount {
  display: block;
  margin-bottom: 5px;
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
}
.pricing .box .time {
  color: var(--gray-color);
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.pricing .box a {
  display: block;
  width: fit-content;
  margin: 30px auto 40px;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 6px;
  font-weight: bold;
  transition: var(--transition);
}
.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}

/* Videos Styling */
.videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
.videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.videos .holder .list .heading {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  color: var(--main-color);
}
.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--transition);
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: var(--gray-color);
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .info {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

/* Stats Styling */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  min-height: 300px;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
.stats h2 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto 50px;
  width: fit-content;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
}
.stats .box {
  text-align: center;
  padding: 30px 15px;
  background-color: white;
  opacity: 0.8;
  transition: var(--transition);
  position: relative;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  left: 0;
  bottom: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box span {
  display: block;
}
.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

/* Discount Styling */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-bg 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 135, 224, 0.97);
  z-index: -1;
}
.discount .content {
  text-align: center;
  padding: 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

/* Footer Styling */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .socials {
  display: flex;
}
.footer .box .socials li {
  margin-right: 10px;
}
.footer .box .socials a {
  width: 50px;
  height: 50px;
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: var(--transition);
}
.footer .box .socials a.facebook:hover {
  background-color: #1877f2;
}
.footer .box .socials a.twitter:hover {
  background-color: #1da1f2;
}
.footer .box .socials a.youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--transition);
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  color: white;
  padding: 25px 0;
  margin: 50px 0 0;
  text-align: center;
  border-top: 1px solid #444;
}

/* Animations */
@keyframes up-dwon {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes left-right {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-bg {
  0%,
  100% {
    background-image: url(../imgs/discount-background1.jpg);
  }
  50% {
    background-image: url(../imgs/discount-background2.jpg);
  }
}

/* Responsive Design */
/* Mobile */
@media (max-width: 767px) {
  /* Header Section */
  header .logo {
    width: 100%;
    height: 50px;
  }
  header .main-nav {
    margin: auto;
  }
  header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }

  /* Landing Section */
  .landing .text h1 {
    font-size: 28px;
  }
  .landing .text p {
    font-size: 18px;
  }

  /* Features Section */
  .features .box .img-holder::before {
    top: -1px;
  }

  /* Work Steps Section */
  .work-steps .content .box {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }
  .work-steps .content .box img {
    margin: 0 auto 15px;
  }
  .work-steps .content .box p {
    line-height: 1.4;
  }

  /* Events Section */
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
  .events .subscribe form input[type="email"],
  .events .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}

/* Medium */
@media (max-width: 991px) {
  /* Header Section */
  header .mega-menu .image {
    display: none;
  }

  /* Landing Section */
  .landing .image {
    display: none;
  }
  .landing .text {
    text-align: center;
  }
  .landing .text p {
    margin: 10px auto;
  }

  /* Our Skills section */
  .our-skills .container img {
    display: none;
  }

  /* Work Steps Section */
  .work-steps .image {
    display: none;
  }

  /* Events Styling */
  .events img {
    display: none;
  }
  /* Videos Section */
  .videos .holder {
    flex-direction: column;
  }

  /* Discount Section */
  .discount .image {
    flex-basis: 100%;
  }
  .discount .form {
    flex-basis: 100%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}
